/** banner **/
.banner-info {
  color: #d9edf7;
  background: #dfd236 url("../img/head.jpg") center no-repeat;;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.well {background: #3A3A3A;color:#fff;}

hr {
  height: 4px;
  margin-left: 0;
  margin-bottom:20px;
}
.hr-warning{
  background-image: -webkit-linear-gradient(left, rgba(210,105,30,.8), rgba(210,105,30,.6), rgba(0,0,0,0));
}
.hr-success{
  background-image: -webkit-linear-gradient(left, rgba(15,157,88,.8), rgba(15, 157, 88,.6), rgba(0,0,0,0));
}
.hr-primary{
  background-image: -webkit-linear-gradient(left, rgba(66,133,244,.8), rgba(66, 133, 244,.6), rgba(0,0,0,0));
}
.hr-danger{
  background-image: -webkit-linear-gradient(left, rgba(244,67,54,.8), rgba(244,67,54,.6), rgba(0,0,0,0));
}

/* Admin Dashboard */

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

/* Footer
------------------------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 70px; /* Space untuk #footer */
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #f5f5f5;
    font-size: 0.8em;
    height: 50px; /* Tinggi footer */
}

.text-muted {
    margin: 5px 0;
}

#footer strong {
    color: #ff0000;
}
/* Menu Dropdown */
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

/* Header
------------------------------------------------------------------- */
#header{
    height:100px;
}

#header h1{
    display:none;
}

#header address {
    text-align: right;
    padding-top: 10px;
    font-size: 0.9em;
}

#header address strong {
    font-size: 1.5em;
}

/* Tabel data
------------------------------------------------------------------- */
/* Status "BELUM", bukan link */
.status-danger, .status-biasa {
    font-weight: bold;
}

td.status-danger {
    color: #ff0000;
}

/* Status "BELUM", link */
td.status-danger a:link, td.status-danger a:visited{
    color: #ff0000;
}

/* Status "SUDAH",link */
td.status-biasa a:link, td.status-biasa a:visited{
    color: #000000;
}


/* Halaman Informasi > Prosedur
------------------------------------------------------------------- */
/* Spasi antara item list */
ol li {
    margin: 0 0 10px 0;
}

/* Tanda bitang (*) untuk PS */
.ps {
    color: #ff0000;
    font-size: 1.2em;
}

/* Pagination
------------------------------------------------------------------- */
.pagination {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

/* Jarak spasi pagination dan form cari ke tabel data */
.navigasi_cari {
    padding-bottom: 15px;
}

/* Halaman preview biodata
------------------------------------------------------------------- */
.bio-preview dt {
    min-width: 300px;
    text-align: left;
}

.bio-preview dl {
    margin: 5px 0;
}

.bio-preview h3 {
    margin-top: 30px;
}

/* Daftar Sukses
------------------------------------------------------------------- */
#daftar-sukses strong {
    font-family: monaco, consolas, courier new, courier, monospace;
}

#daftar-sukses div.row {
    font-size: 1.5em;
}

/* Halaman admin > pengumuman list
------------------------------------------------------------------- */
#btn-tambah-pengumuman {
    float: right;
}

/* Form
------------------------------------------------------------------- */
/*              xs       sm     md      lg
Column width	Auto	~62px	~81px	~97px
*/

/* Agar pada screen ukuran medium (col-md-*) form tidak terlalu panjang */
/* Selain form biodata dan form login peserta */
form.myform {
    max-width: 405px; /* col-md-5 */
}

/* Form Pengumuman */
form.form-pengumuman {
    max-width: 648px; /* col-md-8 */
}

/* Agar captcha tidak dempet atas-bawah*/
.captcha {
    margin: 10px 0;
}

textarea {
    height:150px;
    min-height:150px;
    max-height:150px;
    width: 405px;
    min-width:405px;
    max-width:405px;
}